%% -*- erlang -*-
%% Config file for wbus application
{deps,
 [
  {uart, ".*", {git, "https://github.com/tonyrog/uart.git"}},
  {lager, "3.2.2", {git, "https://github.com/basho/lager.git", 
		    {tag, "3.2.2"}}}
 ]}.

{erl_opts, [debug_info, fail_on_warning, {parse_transform, lager_transform}]}.
{sub_dirs, ["src"]}.
